/* Global Styles */
:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
    border-radius: 5px;
}

p {
	margin: 0.5rem 0;
}

.showcase {
	width: 100wv;
    height: 50vh;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 300px 100px black;
    position: relative;
}

.showcase-top {
    position: absolute;
	width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px
}

.showcase-top img {
	width: 150px;
}

.showcase-top a {
    padding: 10px 20px;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
}

.showcase-content {
    margin-top: 10%;
	position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    padding: 0 40px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.showcase-content h1 {
	font-size: 50px;
    text-align: center;
}

.showcase-content h3 {
    margin: 0 30px;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.showcase-content form {
	font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

.showcase-content form > label{
    position: absolute;
    top: 30%;
    left: 22%;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    font-size: medium;
}

.showcase-content form > input{
	font-size: 20px;
    padding: 10px 10px;
    border: none;
    width: 50%;
    outline: none;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
}

.showcase-content form > input:focus + label,
.showcase-content form > input:valid + label{
    top: 5%;
    left: 21%;
    color:gray;
    font-size: 12px;
    font-weight: bold;
}

.showcase-content form > button{
	font-size: 20px;
    background-color:red;
    color:white;
    padding: 10px 10px;
    border: none;
}

.showcase-content h4 {
    font-size: 15px;
    text-align: center;
}
