* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(purple, rgb(14, 181, 231));
    height: 100vh;
}

.login-box {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 40px 40px -10px black;
}

.login-box h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.login-box .user-box input {
    width: 100%;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:valid~label,
.login-box .user-box input:focus~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 20px 20px;
}

.login-box a:hover {
    color: #03e9f4;
    box-shadow: 0 0 30px rgb(14, 181, 231), 0 0 50px rgb(14, 181, 231);
    border-radius: 20px;   
}

.login-box a span {
    position: absolute;
    display: block;
  }

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
    
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .login-box a span:nth-child(2) {
    top: 0;
    right: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(0deg, #03e9f4, transparent);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
        top: 100%;
    }
  }

  .login-box a span:nth-child(3) {
    bottom: 0%;
    right: 200%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #03e9f4, transparent);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
  }

  .login-box a span:nth-child(4) {
    top: 100%;
    left: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(0deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      top: 100%;
    }
    50%,100% {
      top: -100%;
    }
  }
